.about-hero {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../img/Volunteer.jpeg") center/cover no-repeat;
  color: white;
  padding: 100px 0;
  text-align: center;
}

.about-hero h1 {
  font-size: 3rem;
  font-weight: bold;
}

.about-hero p {
  font-size: 1.25rem;
  max-width: 700px;
  margin: auto;
}

.btn-group-custom {
  margin-top: 2rem;
}
.about-img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
